.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
omatos/
omatos*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__

bin/*
credentials/aws_role_account.json
credentials/google_service_account.json
lib/*
pyvenv.cfg

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
